<h1>home - handlebars</h1>
<p>Seja bem vindo(a) usuário {{ user.nome}}</p>
<p>Tenho certeza que você é um ótimo {{ user.profissao }} mesmo tendo ainda {{ user.idade }} anos</p>

{{#if auth}}
<a href="/dashboard">Acessar a Dashboard</a>
{{else}}
<p>Você ainda não está logado. Faça login ou cadastre-se!</p>
{{/if}}
